<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/themes/css/monokai.css' %}">
    <title>{% block title %}AirCode{% endblock %} ッ</title>
   <style type="text/css">a:hover{text-decoration: none;}</style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a style="
    font-family: cursive;" class="navbar-brand" href="{% url 'home'%}"><img src="https://image.flaticon.com/icons/svg/2809/2809495.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    AirCode</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Levels
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: center;">
          <a class="dropdown-item" href="{% url 'easy' %}">Easy</a>
          <a class="dropdown-item" href="{% url 'somewhat' %}">Medium</a>
          <a class="dropdown-item" href="{% url 'hard' %}">Hard</a>
        </div>
      </li>

    </ul>
      {% if user.is_authenticated %}
            <span class="pr-1">
                <p class="my-2 my-sm-0 text-warning">{{exp}} exp</p>
            </span>
            <span>
                <a class="btn btn-warning my-2 my-sm-0" href="{% url 'user' %}">{{username}}</a>
            </span>
      {% else %}
            <span>
                <a class="btn btn-warning my-2 my-sm-0" href="{% url 'register' %}">      Зарегистрироваться</a>
            </span>
            <span>
                <a style="margin-left: 10px;" class="btn btn-info my-2 my-sm-0" href="{% url 'login' %}">Войти</a>
            </span>

      {% endif %}
  </div>
</nav>

  {% block content %}
  {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'main/dist/rainbow.js' %}"></script>
    <script src="{% static 'main/src/language/generic.js' %}"></script>
    <script src="{% static 'main/src/language/python.js' %}"></script>
  </body>
</html>
