{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    
<div class="container-fluid" style="background-color: darkslategray">
    <div class="container justify-content-center home-page-mid-bar">
        <div class="container justify-content-between">
            <div class="row justify-content-center">
                {% for item in post %}
                <div class="card border-dark mb-3" style="max-width: 24rem; margin: 30px">
                <div class="card-header bg-transparent border-dark" style="text-align: center;color: black;">{{item.lvl}}</div>
                <div class="card-body text-danger">
                    <a style="color:#ba3939;" href="{% url 'task_template' item.pk%}"><h5 class="card-title" style="text-align: center;">{{item.article}}</h5></a>
                    <p class="card-text">{{item.textarea|safe}}</p>
                </div>
                <div style="color: black;" class="card-footer bg-transparent border-dark">{{item.examples|safe}}</div>
                </div>
                {%endfor%}
        </div>
    </div>
</div>
</div>
{% endblock %}