{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="background-color: darkslategray">
        <div class="container justify-content-center home-page-mid-bar">
            <div class="row justify-content-center">
                <h1 style="margin-left: 10px; margin-top: 100px; text-align: center">Проект <span style="color: #FFC107">AirCode</span>
                </h1>
            </div>
            <div class="row justify-content-center" style="text-align: center; margin-top: 10px; padding: 8%;">
                <p style="font-size: 137%;">
                    Здесь вы сможете решать простые задачи по программированию или
                    готовиться к выпускным экзаменам по информатике таким как <span
                        style="color: #E6AD00">ЕГЭ, ОГЭ, ЗНО</span> и т.д.
                    наша система проверит вашу программу на правильность, а также подскажет насколько ваше решение эффективно. Мы покажем <span style="color: #E6AD00">сколько памяти</span> оно занимает и 
                    <span style="color: #E6AD00">время её исполнения</span>.
                </p>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px;">
                <a href="{% url 'new_tasks' %}" class="home-page-button">Начать обучение</a>
            </div>
        </div>
    </div>
{% endblock %}