{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {{article}}
{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color: darkslategray">
        <div class="container justify-content-center home-page-mid-bar">
            <br><br>
            <div class="container-fluid justify-content-center">
                <div class="p-3 mb-2 bg-dark text-light" style="border-radius: 30px;"><br><pre><code data-language="Python">{{solution }}</code><pre></div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
{% endblock %}