.top-bar-content{
    text-decoration: none;
    color: #6C757D;
    font-size: 54px;
}

body > div > div > a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card_text{
    color: black;
}

.top-bar-content:hover{
    text-decoration: none;
    color: black;
    text-shadow: 0 0 4px black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.task_bar{
    min-height: auto;
    border-radius: 15px;
}

.code_bar{
    min-height: auto;
}

.task_name{
    margin: 10px;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: #6C757D;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

.bottom-code-bar{
    text-decoration: none;
    background-color: #6C757D;
    color: white;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}


body > div > div > div > form > div > div > div > a {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body > div > div > div > form > div > div > div > input {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bottom-code-bar:hover{
    text-decoration: none;
    background-color: #919DA7;
    color: white;
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
}

.task_text{
    font-size: large;
}

#code-area{
    width: 100%;
    resize: none;
    height: 250px;
}

h1 {
    font-family: fantasy;
    font-size: 439%;
}
a:hover{
    text-decoration: none;
}

.home-page-mid-bar{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
    min-height: 1000px;
}


body > div > div > div > a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.home-page-button{
    border-radius: 30px;
    border: 1px solid #FFC107;
    color: #FFC107;
    padding: 10px 7rem;
    text-align: center;
}

.home-page-button:hover{
    background-color:#FFC107;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5), 0 0 40px rgba(255, 193, 7, 0.5), 0 0 80px rgba(255, 193, 7, 0.5);
    color: black;
    text-decoration: none;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

h5 a{
    color: blue;
    text-decoration: none;
}
.card_title{
    color: red;
}
h5.card_title:hover{
    color: red;
    text-decoration: none;
    text-shadow: 0px 5px 6px black;
}


body > div > div > div > div > div {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.task_link_bar:hover{
   -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7);
}